.team__main__container{
  box-sizing: border-box;
  position: relative;
}

.team__container{
  position: relative;
}

.team__title{
  margin: 0 0 2rem 0;
  font-size: 2rem;
  text-align: center;
}

.team__title__underline{
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.team__btn img{
  width: 4rem;
  right: 1rem;
  bottom: 2.5rem;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
}
